<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AirFipro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>575446591FB1C81100C2BA12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5754466D1FB1C81100C2BA12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>575446781FB1C81100C2BA12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
